.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.product-card h2,
.product-card p {
    font-size: 12px;
}

.product-name {
    font-weight: bolder;
}

.product-image {
    width: 150px;
}