.ProductCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: white;
    padding: 30px;
    margin: 15px;
    border-radius: 20px;
    align-items: center;
}

.ProductCard h1 {
    font-size: 15px;
    width: 150px;
    padding: 20px;
}

.ProductCard img {
    width: auto;
    height: 150px;

}

.ProductCard p {
    font-size: 10px;
}

.description {
    width: 200px;
}