.ApartmentCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 40px;
    font-family: inherit;
}

.ApartmentCard:hover {
    box-shadow: #1E40AF 0px 10px 20px 4px;
}

.ApartmentCard img {
    width: 15%;
    height: 150px;
}

.ApartmentCard h3 {
    width: 20%;
    height: 150px;

}
.ApartmentCard p {
    width: 20%;
    height: 150px;
}