.ProductListPage li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
}

img {
 width: 100px;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: left;
}

strong {
    padding: 20px;
}

