.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 10rem;

    animation-fill-mode: both;
    animation-name: appear;
    animation-range: entry 15% cover 20%;
    animation-timeline: --display;
    view-timeline-name: --display;

    img {
        width: 150px;
        height: 150px;
        border: solid 2px gray;
        padding: 0.5rem;
        object-fit: cover;
    }

    p {
        width: 200px;
        height: 100%;
        height: 90%;
        overflow-y: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#title {
    font-weight: bold;
}

#description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 10%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}