.product-list-card {
    width: 100%;
    border: 1px solid;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0px 2px 4px 0px #0000000a, 0px 1px 6px 0px #00000005;;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    .product-detail-text {
        font-weight: 500;
    }
    img {
        width: 5rem;
    }
}