.App {
  text-align: center;
}

.product {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details {
  display: grid;
  grid-template-columns: repeat(5, 100px); /* Image and text in two columns */
  gap: 5px;  /* Space between image and text */
  align-items: center; /* Vertically align the content */

}

.product img {
  max-width: 150px; /* Ensure image doesn’t stretch more than 150px */
  height: auto;
}

.product-info {
  display: gtid;
  grid-template-columns: repeat(5, 100px);
}

.product h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.product p {
  margin: 5px 0;
}

.back-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.back-button:hover {
  background-color: #0056b3;
}
