.App {
  text-align: center;
}

/* Primary Button */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #3B82F6;
}

/* Secondary Button */
.btn-secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #E5E7EB;
}


/* Spacing utilities */
.spacing-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.spacing-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.spacing-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spacing-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Text utilities */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Flex utilities */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card styles */
.card {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100px;
  border: 2px solid rgb(181, 174, 174);
  padding: 5px;
}

.card p {
  width: 20%;
  height: 150px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content.shifted {
  margin-left: 250px;
}

.ProductDetailsArticle {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  padding: 10px;
  margin: 10px;
}

.ProductDetailsArticle img {
  width: 200px;
}

.ProductDetailsArticle p {
  text-align: start;
  margin: 20px;
}

.ProductDetailsArticle .productDesc {
  width: 100%;
}

.ProductDetailsArticle .productCategory {
  background-color: rgb(149, 72, 216);
  padding: 3px;
  border-radius: 5px;
}

.ProductDetailsArticle h2 {
  text-align: start;
  width: 100%;
  margin-left: 20px;
}

.ProductDetailsArticle .styling-div {
  width: 100%;
  display: flex;
  align-items: center;
}

.ProductDetailsArticle .productPrice {
  color: blue;
  font-size: 1.2em;
}

.btnBack {
  margin: 10px;
  background-color: rgb(38, 180, 38);
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.btnAdd {
  background-color: rgb(204, 226, 64);
  border-radius: 10px;
  width: 50%;
}