.App {
  text-align: center;
  background-color: whitesmoke;
}

/* Primary Button */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #3B82F6;
}

/* Secondary Button */
.btn-secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #E5E7EB;
}


/* Spacing utilities */
.spacing-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.spacing-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.spacing-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spacing-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Text utilities */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Flex utilities */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card styles */
.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
}

.content {
  transition: margin-left 0.4s ease-in-out;
}

.content.shifted {
  margin-left: 250px;
}

.listPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 5px 5px 10px 0px rgba(192,192,192,1)
}

.listPage:hover {
  background-color: ghostwhite;
}

.productImg {
  width: 180px;
  height: 180px;
  object-fit: cover;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.listPage div {
  width: 250px;
}

.title {
  font-weight: 700;
}