.App {
  text-align: center;
}

/* Primary Button */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #3B82F6;
}

/* Secondary Button */
.btn-secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #E5E7EB;
}


/* Spacing utilities */
.spacing-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.spacing-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.spacing-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spacing-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Text utilities */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Flex utilities */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Card styles */
.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  width: 80%;
  margin-top: 20px;
}

.content {
  transition: margin-left 0.4s ease-in-out;
}

.content.shifted {
  margin-left: 250px;
}

.element {
  padding: 20px;
  width: 20%;
}

.element-image {
  max-width: 100%;
  height: 250px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.ProductDetailsPage {
  text-align: start;
}

.ProductDetailsPage img {
  width: 40vh;
  margin: 20px;
}

.ProductDetailsPage p {
  display: inline;
}

.ProductDetailsPage hr {
  margin: 40px 0;
}

.ProductDetailsPage button {
   width: 100%;
   display: flex;
   justify-content: center;
}

.ProductDetailsPage-button button {
  background-color: greenyellow;
  width: 0;
  margin: auto;
  border-radius: 10px;  
}

.price {
  color: blue;
  font-size: 2em;
  font-weight: 700;
}