/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
    --primary-color: #1E40AF;
    --secondary-color: #3B82F6;
    --background-color: #F3F4F6;
    --text-color: #111827;
}

/* Base styles */
html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F3F4F6;
  color: #111827;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}



/* Styles */
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 1.1rem;
}

label {
  width: 200px;
  display: block;
}

nav {
  position: relative;
  z-index: 20;
}


.Navbar li {
  list-style: none;
  font-size: 1.7rem;
  font-weight: 600;
}

