/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
    --primary-color: #1E40AF;
    --secondary-color: #3B82F6;
    --background-color: #F3F4F6;
    --text-color: #111827;
}

/* Base styles */
html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F3F4F6;
  color: #111827;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Container */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px;
}

/* Styles */
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 1.1rem;
}

label {
  width: 200px;
  display: block;
}

nav {
  position: relative;
  z-index: 20;
}


.Navbar li {
  list-style: none;
  font-size: 1.7rem;
  font-weight: 600;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.ProductListPage {
  padding: 20px;
  background-color: #f3f4f6;
}

.product-card {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #706868;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 12px;
  
}

.product-card:hover{
  background-color: rgb(244, 241, 237);
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.product-main-info {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.product-main-info h2 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.product-main-info .category,
.product-main-info .price {
  font-size: 0.95rem;
  margin: 0;
}

.ProductDetailsPage {
  padding: 20px;
  background-color: #f3f4f6;
}

.product-details-card {
  display: flex;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  gap: 30px;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.details-image {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.details-info {
  flex: 1;
}

.details-info h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.info-line {
  display: flex;
  gap: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.category {
  color: #555;
  text-transform: capitalize;
}

.price {
  color: #1E40AF;
}

