.ProductListPage {
    margin-top: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.ProductListPage img {
    border: 1px solid black;
    height: 25vh;
    margin-left: 10px;
}
.somecard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 28vh;
    background-color: aliceblue;
    border: 1px solid black;
}

.somecard h1 {
    font-size: 20px;
    width: 200px;
}
.somecard p {
    width: 400px;
    margin-right: 20px;
}

.thecard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 80vh;
    background-color: aliceblue;
    border: 1px solid black;
}
.thecard h1 {
    font-size: 20px;
    width: 200px;
}
.thecard p {
    width: 400px;
    margin-right: 20px;
}
.thecard img {
    border: 1px solid black;
    height: 25vh;
    margin-left: 10px;
}
.back {
    background-color: antiquewhite;
}